<div id="<%= dom_id survey %>">
  <p>
    <strong>User:</strong>
    <%= survey.user_id %>
  </p>
  <% survey.responses.each_with_index do |response, index| %>
  <h2><%= @questions[index].prompt %></h2>
  <p><%= response.answer %></p>
  <% end %>
</div>
